{{ define "main" }}
<article id="content" class="Post">
  <header id="{{ .Slug }}" class="row-nm m-32 center intro-sm">
    <div class="column center w-full">
      <h1 class="align-center">Oops! We can’t find that page
        <span class="fs-large">
            <img src="/img/waving.gif" role="Waving" aria-roledescription="Go back" title="Waving gif"/>
        </span>
      </h1>
    </div>
  </header>
  <section class="row-nm align-center j-center">
    <div class="column-nm-sm w-full mx-60 ">
      <h2 class="font-circular-book center">Sorry, we’ve misplaced that URL or it's pointing to something that doesn’t
        exist.</h2>
    </div>
  </section>
  <section class="PostBody m-120 mb-80 post--body">
    <div class="center-max">
      <p class="lead">
         <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it
        again.
      </p>
    </div>
  </section>
</article>
<!--/.Content -->
{{ end }}
