{{ define "main" }}

<section class="row intro center">
  <img
    alt="{{ .Site.Author.name }}'s headshot"
    caption=""
    class="w-48 h-48 rounded-full cld-responsive lazyload"
    data-src="{{ .Site.Params.cloudinary_url }}/w_auto,f_auto, dpr_1.0,c_scale,f_webp,fl_awebp,f_webp,fl_awebp.progressive.progressive:semi,q_auto/ma-default.jpg"
    sizes="(max-width: 400px) 100vw, 400px"
    width="400"
  />
</section>

<section class="row ">
  <div class="column center w-full">
    <h1 class="align-center">
      Hey there *waves*, I'm {{ .Site.Author.name }},<br />
      <mark>coder, designer and data enthusiast</mark>.
    </h1>
  </div>
</section>
<article class="row ">
  <div class="column">
    <p>
      I'm Murshid, a Software Engineer from
      <a
        href="https://www.google.com/maps/place/Colombo/@6.9218374,79.8211859,13z/data=!3m1!4b1!4m5!3m4!1s0x3ae253d10f7a7003:0x320b2e4d32d3838d!8m2!3d6.9270786!4d79.861243"
        target="_blank"
        rel="noopener noreferrer"
        >Colombo, Sri Lanka</a
      >. I’ve been designing and developing software for over the last demi-decade.
    </p>
  </div>
  <div class="column">
    <p>
      I've spent the last two years creating amazing things for companies I believe in. You can find out more
      <a href="/about" rel="noopener" class="text-zenith" alt="about {{ .Site.Author.name }}">about me</a>. here
    </p>
  </div>
  <div class="column">
    <p>
      I write
      <a href="/articles" target="_blank" rel="noopener" class="text-zenith">articles on design and code</a>
      and also
      <a href="/notes" target="_blank" rel="noopener">keep notes on things I’m learning</a>
      from books, courses and the things I've found interesting.
    </p>
  </div>
</article>
<hr />
<section class="row clients m-32">
  <img
    data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,f_webp,fl_awebp,q_auto/site/seat-geek.svg"
    class="lazyload"
    height="28"
    alt="SeatGeek Logo"
    caption=""
  />
  <img
    data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,f_webp,fl_awebp,q_auto/site/seat-geek.svg"
    class="lazyload"
    height="28"
    alt="SeatGeek Logo"
    caption=""
  />
  <img
    data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,f_webp,fl_awebp,q_auto/site/seat-geek.svg"
    class="lazyload"
    height="28"
    alt="SeatGeek Logo"
    caption=""
  />
</section>
<section class="row align-center j-center">
  <div class="column w-full mx-60">
    <h2 class="font-circular-book">
      I work at the intersection of
      <mark>design, brand, code, strategy and content</mark>; helping organizations bring their concepts and products to life... to make people's life better.
    </h2>
  </div>
</section>
<hr role="separator" aria-roledescription="divides the section" />
<section class="row-nm m-32 align-center j-center">
  <div class="column-nm-sm w-full">
    <h2 class="text-black fw-600">Opensource</h2>
  </div>
</section>
<section class="row-nm align-center j-center">
  <div class="column-nm-sm w-full mx-45">
    <h2 class="font-circular-book">I occasionally work on <mark>open source</mark> projects to improve my coding skills.</h2>
  </div>
</section>
<section class="row projects ">
  <div class="scrolling-wrapper mt-32-md mb-32-md">
    <div class="github-project bg-orange">
      <div class="github-project__wrapper">
        <div class="github-project__logo">
          <img
            class="styles-module--fallbackImg--C-RAL lazyload"
            data-cover="false"
            data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,f_webp,fl_awebp,q_auto/site/project-logo.svg"
            alt="Baraja"
            caption=""
          />
        </div>
        <div class="github-project__body">
          <h2 class="font-circular-book fw-600 github-project__body--title">
            Title
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa placeat numquam necessitatibus nam itaque laudantium iure quasi, praesentium molestiae provident in modi
            nesciunt exercitationem voluptatem, adipisci deleniti voluptates ut veniam.
          </p>
        </div>
        <div class="github-project__link">
          <a href="/" class="learn-more-button filter-inverse w-inline-block" style="background-image: url({{ .Site.BaseURL }}img/icons/arrow-right.svg);">
            <div>Explore Project</div>
          </a>
        </div>
      </div>
    </div>
    <div class="github-project bg-pink">
      <div class="github-project__wrapper">
        <div class="github-project__logo">
          <img
            class="styles-module--fallbackImg--C-RAL lazyload"
            width="24px"
            data-cover="false"
            data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,f_webp,fl_awebp,q_auto/site/project-logo.svg"
            alt="Baraja"
            caption=""
          />
        </div>
        <div class="github-project__body">
          <h2 class="font-circular-book fw-600 github-project__body--title">
            Title
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa placeat numquam necessitatibus nam itaque laudantium iure quasi, praesentium molestiae provident in modi
            nesciunt exercitationem voluptatem, adipisci deleniti voluptates ut veniam.
          </p>
        </div>
        <div class="github-project__link">
          <a href="/" class="learn-more-button filter-inverse w-inline-block" style="background-image: url({{ .Site.BaseURL }}img/icons/arrow-right.svg);">
            <div>Explore Project</div>
          </a>
        </div>
      </div>
    </div>
    <div class="github-project bg-purple">
      <div class="github-project__wrapper">
        <div class="github-project__logo">
          <img
            class="styles-module--fallbackImg--C-RAL lazyload"
            width="24px"
            data-cover="false"
            data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,f_webp,fl_awebp,q_auto/site/project-logo.svg"
            alt="Baraja"
            caption=""
          />
        </div>
        <div class="github-project__body">
          <h2 class="font-circular-book fw-600 github-project__body--title">
            Title
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa placeat numquam necessitatibus nam itaque laudantium iure quasi, praesentium molestiae provident in modi
            nesciunt exercitationem voluptatem, adipisci deleniti voluptates ut veniam.
          </p>
        </div>
        <div class="github-project__link">
          <a href="/pro-chat-sdks" class="learn-more-button filter-inverse w-inline-block" style="background-image: url({{ .Site.BaseURL }}img/icons/arrow-right.svg);">
            <div>Explore Project</div>
          </a>
        </div>
      </div>
    </div>
    <div class="github-project bg-blue">
      <div class="github-project__wrapper">
        <div class="github-project__logo">
          <img
            class="styles-module--fallbackImg--C-RAL lazyload"
            width="24px"
            data-cover="false"
            data-src="{{ .Site.Params.cloudinary_url }}/w_auto,dpr_auto,c_scale,f_auto,f_webp,fl_awebp,q_auto/site/project-logo.svg"
            alt="Baraja"
            caption=""
          />
        </div>
        <div class="github-project__body">
          <h2 class="font-circular-book fw-600 github-project__body--title">
            Title
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa placeat numquam necessitatibus nam itaque laudantium iure quasi, praesentium molestiae provident in modi
            nesciunt exercitationem voluptatem, adipisci deleniti voluptates ut veniam.
          </p>
        </div>
        <div class="github-project__link">
          <a href="/pro-chat-sdks" class="learn-more-button filter-inverse w-inline-block" style="background-image: url({{ .Site.BaseURL }}img/icons/arrow-right.svg);">
            <div>Explore Project</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
