/*------------------------------------*\
    #OBJECTS: AVATAR
\*------------------------------------*/

/**
 * Component Block
 */

.avatar {
  display: inline-block;
  position: relative;
  margin-right: 30px;
}

/**
 * Component Modifier
 */

.avatar--m {
  font-size: 1.25rem;
  width: 80px;
  height: 80px;
  line-height: 80px;
}

.avatar--round {
  border-radius: 50%;
}
