/* Background */
.chroma {
  background-color: #E5E9F0;
}
/* Error */
.chroma .err {
  // background-color: #B776F7;
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
/* LineHighlight */
.chroma .hl {
  display: block;
  width: 100%;
  // background-color: #EDCC87;
}
/* LineNumbersTable */
.chroma .lnt {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #3B4253;
}
/* LineNumbers */
.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #3B4253;
}
/* Keyword */
.chroma .k {
  color: #80A0C2;
}
/* KeywordConstant */
.chroma .kc {
  color: #2E3441;
  font-style: italic;
}
/* KeywordDeclaration */
.chroma .kd {
  color: #80A0C2;
  font-style: italic;
}
/* KeywordNamespace */
.chroma .kn {
  color: #80A0C2;
}
/* KeywordPseudo */
.chroma .kp {
  color: #80A0C2;
}
/* KeywordReserved */
.chroma .kr {
  color: #80A0C2;
}
/* KeywordType */
.chroma .kt {
  color: #80A0C2;
  font-style: italic;
}
/* NameAttribute */
.chroma .na {
  color: #A2BF8A;
}
/* NameBuiltin */
.chroma .nb {
  color: #A2BF8A;
}
/* NameBuiltinPseudo */
.chroma .bp {
  font-style: italic;
}
/* NameClass */
.chroma .nc {
  color: #87C0D0;
}
/* NameConstant */
.chroma .no {
  color: #B58DAE;
}
/* NameDecorator */
.chroma .nd {
  color: #87C0D0;
}
/* NameEntity */
.chroma .ni {
  color: #A2BF8A;
}
/* NameException */
.chroma .ne {
  color: #C16069;
}
/* NameFunction */
.chroma .nf {
  color: #80A0C2;
}
/* NameFunctionMagic */
.chroma .fm {
  color: #B58DAE;
}
/* NameLabel */
.chroma .nl {
  color: #A2BF8A;
}
/* NameNamespace */
.chroma .nn {
  color: #A2BF8A;
}
/* NameTag */
.chroma .nt {
  color: #80A0C2;
}
/* NameVariable */
.chroma .nv {
  color: #C16069;
}
/* NameVariableGlobal */
.chroma .vg {
  color: #A2BF8A;
}
/* NameVariableMagic */
.chroma .vm {
  color: #B58DAE;
}
/* LiteralString */
.chroma .s {
  color: #C16069;
}
/* LiteralStringAffix */
.chroma .sa {
  color: #2E3441;
}
/* LiteralStringBacktick */
.chroma .sb {
  color: #C16069;
}
/* LiteralStringChar */
.chroma .sc {
  color: #B776F7;
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: #B58DAE;
}
/* LiteralStringDoc */
.chroma .sd {
  color: #B58DAE;
  font-style: italic;
}
/* LiteralStringDouble */
.chroma .s2 {
  color: #C16069;
}
/* LiteralStringEscape */
.chroma .se {
  color: #709030;
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: #C16069;
}
/* LiteralStringInterpol */
.chroma .si {
  color: #C16069;
  text-decoration: underline;
}
/* LiteralStringOther */
.chroma .sx {
  color: #B776F7;
}
/* LiteralStringRegex */
.chroma .sr {
  color: #B776F7;
}
/* LiteralStringSingle */
.chroma .s1 {
  color: #C16069;
}
/* LiteralStringSymbol */
.chroma .ss {
  color: #C16069;
}
/* LiteralNumber */
.chroma .m {
  color: #2E3441;
}
/* LiteralNumberBin */
.chroma .mb {
  color: #2E3441;
}
/* LiteralNumberFloat */
.chroma .mf {
  color: #2E3441;
}
/* LiteralNumberHex */
.chroma .mh {
  color: #2E3441;
}
/* LiteralNumberInteger */
.chroma .mi {
  color: #2E3441;
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: #2E3441;
}
/* LiteralNumberOct */
.chroma .mo {
  color: #2E3441;
}
/* Operator */
.chroma .o {
  color: #2E3441;
}
/* OperatorWord */
.chroma .ow {
  color: #B776F7;
}
/* Punctuation */
.chroma .p {
  color: #3B4253;
}
/* Comment */
.chroma .c {
  color: #3B4253;
  font-style: italic;
}
/* CommentHashbang */
.chroma .ch {
  color: #87C0D0;
  font-style: italic;
}
/* CommentMultiline */
.chroma .cm {
  color: #3B4253;
  font-style: italic;
}
/* CommentSingle */
.chroma .c1 {
  color: #3B4253;
  font-style: italic;
}
/* CommentSpecial */
.chroma .cs {
  color: #3B4253;
  font-style: italic;
}
/* CommentPreproc */
.chroma .cp {
  color: #A2BF8A;
}
/* CommentPreprocFile */
.chroma .cpf {
  color: #A2BF8A;
}
/* GenericDeleted */
.chroma .gd {
  color: #C16069;
}
/* GenericEmph */
.chroma .ge {
  font-style: italic;
}
/* GenericError */
.chroma .gr {
  color: #C16069;
}
/* GenericHeading */
.chroma .gh {
  color: #2E3441;
}
/* GenericInserted */
.chroma .gi {
  color: #A2BF8A;
}
/* GenericOutput */
.chroma .go {
  color: #2E3441;
}
/* GenericPrompt */
.chroma .gp {
  color: #2E3441;
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: #2E3441;
}
/* GenericTraceback */
.chroma .gt {
  color: #80A0C2;
}
/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
  color: #EDCC87;
}
