# Ignore artifacts:
public
resources

# Ignore all HTML files:
themes/murshid-starter/layouts/partials/footer.html
themes/murshid-starter/layouts/partials/heading-anchor.html
themes/murshid-starter/layouts/partials/head-comment.html
**/*.md
