{{ define "main" }}
<article id="content" class="Post h-entry">
  <header id="notes" class="row-nm m-32 center intro-sm">
    <div class="column center w-full">

      <h1 class="align-center">
      {{ .Title }}
      {{ if .Params.emoji }}
        {{ $alias := .Params.emoji }}
        {{ $url := .Site.Params.cloudinary_url }}
        {{ range first 1 (where .Site.Data.emoji.ios13 "alias" "eq" $alias) }}
            <!-- (where .Site.Data.petiteannonce "cityName" "eq" .Params.name) -->
            <span class="fs-large">
                <img width="32" height="32" class="emoji--fix cld-responsive lazyload" title="{{ .title }}" src="{{ $url }}/w_auto,dpr_auto,c_scale,f_auto,q_auto/{{ .link }}"/>
            </span>
        {{ end }}
    {{ end }}
      </h1>
    </div>
  </header>
  <section class="row-nm align-center j-center">
    <div class="column-nm-sm w-full mx-60 ">
      <h2 class="font-circular-book center">{{ .Params.description }}</h2>
    </div>
  </section>

  <div class="center" >{{ partial "post/tags.html" . }}</div>

  <section class="articles_list--meta flex flex-row mb-16 mt-16">
   <div class="tags row-nm center">
     <div class="column center w-full published-date" >
       Published on&nbsp;
        <time itemprop="datePublished" title="Published Date" class="inline-block" datetime="{{ .Date }}">{{ .Date.Format "January 2, 2006" }}
        </time>
     </div>
    <!-- &nbsp; — &nbsp; {{ partial "post/tags.html" . }} -->
  </div>
  </section>

  {{ if .Params.cover }}
  <section class="article_img">
    <div title="" class="hs-featured-image-link hs-full-height">
      <span style="background:url({{ .Params.cover }}) no-repeat;" class="hs-featured-image">
      </span>

    </div>
  </section>
  {{ end }}

  <section class="PostBody e-content {{ if not .Params.cover }}mt-48{{ end }}">
    <div class="center-max">
      {{ partial "heading-anchor.html" .Content }}
      {{ partialCached "post/author.html" . }}
    </div>

  </section>
</article><!--/.Content -->
{{ end }}
