<section class="section flex lg:flex-row">
  <figure class="flex">
    <blockquote class="PullQuote PullQuote--left">
      <p>
      {{- with .Params.quote_text -}}
        {{ markdownify . }}
      {{- end -}}
      </p>
      {{- with .Params.quote_caption -}}<figcaption>&mdash; {{ markdownify . }}</figcaption>{{- end -}}
    </blockquote>
  </figure>
   <div class="">
    <div class="Image">
      <div class="block relative bg-light Ratio--{{- with .Params.image_ratio -}}{{ markdownify . }}{{- end -}}">
        <img
          data-src="https://res.cloudinary.com/harrycresswell/image/upload/w_auto,dpr_auto,c_scale,f_auto,q_auto/{{- with .Params.image -}}{{ markdownify . }}{{- end -}}"
          class="block h-full w-full absolute top-0 left-0 cld-responsive lazyload" alt="{{- with .Params.image_alt -}}{{ markdownify . }}{{- end -}}">
      </div><!-- /.ImageRatio -->
    </div><!-- /.Image -->
    {{- with .Params.image_caption -}}
    <figure>
      <figcaption class="mono">{{ markdownify . }}</figcaption>
    </figure>
    {{- end -}}
  </div>
</section>
