<!-- {{ .Get 0 | emojify }} -->
{{ $alias := .Get 0 }}
{{ $url := .Site.Params.cloudinary_url }}
{{ $size := .Get 1 }}
{{ $default_size := 24 }}
{{ range first 1 (where .Site.Data.emoji.ios13 "alias" "eq" $alias) }}
    <span class="emoji">
        <img width="{{ $size | default $default_size }}" class="cld-responsive lazyload" height="{{ $size | default $default_size }}" title="{{ .title }}" src="{{ $url }}/w_auto,dpr_auto,c_scale,f_auto,q_auto/{{ .link }}"/><!-- /.Emoji -->
    </span><!-- /.Emoji Wrapper -->
{{ end }}
