{{ define "main" }}

<header id="tags" class="row-nm m-32 center intro-sm">
  <div class="column center w-full">
    <div class="header__wrapper">
      <h1 class="align-center">
        Chips for all articles&nbsp; 🔖
      </h1>
      <!-- {{ $alias := ":angel:" }}
        {{ $url := .Site.Params.cloudinary_url }}
        {{ range first 1 (where .Site.Data.emoji.ios13 "alias" "eq" $alias) }}
            <span class="fs-large">
                <img min-width="32" min-height="32" class="cld-responsive lazyload" alt="{{ .title }}" src="{{ $url }}/{{ .link }}" caption=""/>
            </span>
        {{ end }} -->
    </div>
  </div>
</header>
<section class="row-nm align-center j-center">
  <div class="column-nm-sm w-full mx-60 ">
    <h2 class="font-circular-book center">
      Assorted list of tags found throughout this website for your convenience.
    </h2>
  </div>
</section>

<section class="tags__wrapper m-120 mb-80">
  {{ range .Site.Taxonomies.tags }}

  <a class="no-outline" href="{{ .Page.Permalink }}">
    <article
      itemscope="itemscope"
      itemtype="http://schema.org/CreativeWork"
      class="tags__child"
    >
      <div class="tags__child--number">
        <span>{{ printf "%02d" .Count }}</span>
      </div>
      <span class="tag__text">{{ .Page.Title }}</span>
    </article>
  </a>
  {{ end }}

</section>

{{ end }}
