{{ define "main" }}
  <article id="content" class="Project h-entry pt-24">

      <header class="pb-32 lg:py-0">
        <div class="project_single ">


          <!-- <span class="breadcrumb">
            <a href="{{ .Site.BaseURL }}">Custom Homepage Title</a>
            {{ partial "blocks/breadcrumb" dict "currentPage" .Page "id" .File.UniqueID }}
            </span> -->


            {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "/" }}
            <ul class="breadcrumbs inline flex mb-16 uppercase tracking-wide">
              <li class="mr-8 font-semibold text-zenith">
                <a href="{{ .Site.BaseURL }}">home</a>
              </li>
              {{ $curr := printf "%s" .Title }}
              {{ range $index, $element := split $url "/" }}
                {{ if and (ne $element "") (ne $index 2) }}
                <li class="opacity-75"> / </li>
                  <li class="mx-8 font-semibold text-zenith"><a href="{{ . | absURL }}">{{ . }}</a></li>
                {{ end }}
              {{ end }}
            </ul>

          <h2 class="z-40 my-8 mt-8 text-lg font-semibold leading-tight text-zenith">
            {{ .Title }}
          </h2>

          <h2 class="u-visually-hidden mb-16 ch-60">{{ .Params.Description }}</h2>

        </div>
          <div class="grid">
          <div class="grid-7-3">
            <span class="font-semibold dark small text-zenith">Role</span>
            {{- with .Params.role -}}
              <p>{{ markdownify . }}</p>
            {{- end -}}
          </div>

          <div class="grid-10-3">
            <span class="font-semibold dark small text-zenith">Duration</span>
            {{- with .Params.duration -}}
              <p>{{ markdownify . }}</p>
            {{- end -}}
          </div>

        </div>
      </header>


      <div class="Blocks e-content">
        {{- range .Params.blocks -}}
        {{- if eq .template "hero" -}}{{ partial "blocks/hero" (dict "Params" .) }}{{ end }}
            {{- if eq .template "image-full" -}}{{ partial "blocks/img-full" (dict "Params" .) }}{{ end }}
            {{- if eq .template "body-copy" -}}{{ partial "blocks/content" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "image-grid-two" -}}{{ partial "blocks/img-grid-two" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "image-grid-four" -}}{{ partial "blocks/img-grid-four" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "quote" -}}{{ partial "blocks/quote" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "link-big" -}}{{ partial "blocks/link-big" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "iframe-full" -}}{{ partial "blocks/iframe-full" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "iframe-grid-one" -}}{{ partial "blocks/iframe-grid-one" (dict "Params" .) }}{{- end -}}
            {{- if eq .template "iframe-grid-two" -}}{{ partial "blocks/iframe-grid-two" (dict "Params" .) }}{{- end -}}
        {{- end -}}
      </div>

     <!--<div class="PostBody e-content">
        {{ partial "heading-anchor.html" .Content }}
        {{ partial "post/author.html" . }}
      </div>-->

  </article><!--/.Content -->
{{ end }}
