/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/

$color-link: #542bff;

:root {
  --bg-opacity: 1;
  --color-dark: #424242;
  --color-body: #424242;
  --color-light: #454545;
  --color-lighter: #888;
  --color-lightest: #f5f5f5;
  --color-link: #202e78;
  --color-teal: #287088;
  --color-sea: #396ca0;
  --color-purple: #542bff;
  /* #542bff in decimal RGB */
  --color-link-rgb: 84, 43, 255;
  --color-white: #fff;

  --color-1: #fff;
  --color-2: #000;
  --color-3: #f0efef;
  --color-4: hsla(0, 0%, 33%, 0.15);
  --color-5: #232323;
  --color-6: #4e4d4d;
  --color-7: #b4b4b4;
  --grid-width: 140rem;
  --logo-rotation-duration: 15s;
  --left-margin: calc(var(--grid-width) / 12 * 1);

  // colors

  --color-font-one: #1a2a30;
  --color-font-two: #454545;
  --color-font-three: #ffffff;
  --color-one: #f1f1f2;
  --color-two: #fff;
  --color-three: #f1f1f2;
  --color-four: #1a2a30;
  --color-five: #f1f1f2;
  --color-six: #dfdfe1;
  --color-white: #fff;
  --color-notification: #aaef52;
  --overlay-search: rgba(0, 0, 0, 0.7);
  --overlay-button: rgba(0, 0, 0, 0.06);
  --ali-red: #ff4747;

  // --color-primary: var(--color-purple);
  // --color-text: var(--color-black);
  // --color-text-light: var(--color-grey-700);

  // --color-black: #10112a;
  // --color-grey-700: #57586e;
  // --color-grey-500: #afb0c2;
  // --color-grey-400: #dfe3ec;
  // --color-grey-300: #f0f1f3;
  // --color-grey-100: #fafafb;

  // --color-jellypepper: #f12369;
  // --color-jellypepper-300: #ff596e;
  // --color-jellypepper-700: #d9205e;
  // --color-jellypepper-900: #c11c54;

  // --color-blue: #495DE6;
  // --color-red: #EC5B55;
  // --color-light-blue: #A9D1D5;
  // --color-orange: #F08C34;
  // --color-butter: #FDD283;
  // --color-green: #49C5B6;
  // --color-purple: #7A55E7;

  // --elevation-flat: 0px 0px 10px rgba(0,0,0,0.07);
  // --elevation-raised: 0px 20px 40px rgba(0,0,0,0.06);

  // --radius-0: 0;
  //   --radius-1: 0.125em;
  //   --radius-2: 0.25em;
  //   --radius-3: 0.5em;
  //   --radius-4: 1em;
  //   --radius-5: 1.2em;
  //   --radius-100: 100%;
  //   --radius-round: 9999px;
  //   --font-family-default: "Graphik",sans-serif;
  //   --font-family-heading: "Eina",sans-serif;
  //   --font-heading-weight: var(--font-weight-bold);
  //   --leading-default: 1.7;
  //   --leading-heading: 1.15;
  //   --leading-subheading: 1.5;
  //   --font-subheading: var(--font-heading-weight) var(--scale-2)/var(--leading-subheading) var(--font-family-heading);
  //   --font-weight-semibold: 600;
  //   --font-weight-bold: 700;
  //   --scale-00: 0.825rem;
  //   --scale-0: 1rem;
  //   --scale-1: 1.125rem;
  //   --scale-2: 1.5rem;
  //   --scale-3: 1.75rem;
  //   --scale-4: 2.5rem;
  //   --scale-5: 3.25rem;
  //   --scale-6: 4.5rem;
}
