{{ define "main" }}


<!-- <article id="content" class="Post">
    <header class="PostHeader">
        <h1 class="PostHeader-title">{{ .Title }}</h1>
        <p class="intro">{{ .Params.intro }}</p>
    </header>



    <section class="PostBody">

    {{ .Content }}


    </section>
  </article>/.Content -->


<!-- 1 -->
<article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
  class="bg-dusk transition md:group-hover:opacity-50 md:hover:opacity-important md:hover:scale-11/10x my-8 br-2"><a
    href="https://github.com/dinerojs/dinero.js" target="_blank" rel="noopener" class="block p-40">
    <p class="text-xs font-bold tracking-widest uppercase text-zenith">
      JavaScript
    </p>
    <h3 itemprop="name" class="mt-8 text-lg font-semibold leading-tight text-zenith">
      Dinero.js
    </h3>
    <p class="mt-8">An immutable JavaScript library to create, calculate and format money.</p>
    <div class="flex items-center mt-16">
      <div class="w-16 h-16 p-2 mr-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.4 46.4" aria-hidden="true"
          class="w-full h-full -mt-px fill-current">
          <title>Star icon</title>
          <path
            d="M21.6 2c.3-.6.9-1 1.6-1 .7 0 1.3.4 1.6 1l5.8 11.7c.3.5.8.9 1.4 1l12.8 1.9c.7.1 1.2.6 1.4 1.2.2.6 0 1.4-.5 1.8l-9.3 9.1c-.4.4-.6 1-.5 1.6l2.2 12.9c.1.7-.2 1.4-.7 1.8-.6.4-1.3.5-1.9.1L24 39c-.5-.3-1.1-.3-1.7 0l-11.5 6.1c-.6.3-1.3.3-1.9-.1-.6-.4-.8-1.1-.7-1.8l2.2-12.9c.1-.6-.1-1.2-.5-1.6l-9.4-9c-.5-.5-.7-1.2-.5-1.8.2-.6.8-1.1 1.4-1.2l12.9-1.9c.6-.1 1.1-.5 1.4-1L21.6 2z">
          </path>
        </svg></div><span class="mt-2 text-xs font-semibold leading-none tracking-wider">
        3,682
        <span class="sr-only">stars</span></span>
    </div>
  </a>
</article>
<article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
  class="bg-dusk transition md:group-hover:opacity-50 md:hover:opacity-important md:hover:scale-11/10x my-8  br-2"><a
    href="https://github.com/sarahdayan/browserstore.js" target="_blank" rel="noopener" class="block p-40">
    <p class="text-xs font-bold tracking-widest uppercase text-zenith">
      JavaScript
    </p>
    <h3 itemprop="name" class="mt-8 text-lg font-semibold leading-tight text-zenith">
      Browserstore.js
    </h3>
    <p class="mt-8">Persist data into various browser-based storage systems.</p>
    <div class="flex items-center mt-16">
      <div class="w-16 h-16 p-2 mr-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.4 46.4" aria-hidden="true"
          class="w-full h-full -mt-px fill-current">
          <title>Star icon</title>
          <path
            d="M21.6 2c.3-.6.9-1 1.6-1 .7 0 1.3.4 1.6 1l5.8 11.7c.3.5.8.9 1.4 1l12.8 1.9c.7.1 1.2.6 1.4 1.2.2.6 0 1.4-.5 1.8l-9.3 9.1c-.4.4-.6 1-.5 1.6l2.2 12.9c.1.7-.2 1.4-.7 1.8-.6.4-1.3.5-1.9.1L24 39c-.5-.3-1.1-.3-1.7 0l-11.5 6.1c-.6.3-1.3.3-1.9-.1-.6-.4-.8-1.1-.7-1.8l2.2-12.9c.1-.6-.1-1.2-.5-1.6l-9.4-9c-.5-.5-.7-1.2-.5-1.8.2-.6.8-1.1 1.4-1.2l12.9-1.9c.6-.1 1.1-.5 1.4-1L21.6 2z">
          </path>
        </svg></div><span class="mt-2 text-xs font-semibold leading-none tracking-wider">
        54
        <span class="sr-only">stars</span></span>
    </div>
  </a></article>
<article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
  class="bg-dusk transition md:group-hover:opacity-50 md:hover:opacity-important md:hover:scale-11/10x my-8  br-2"><a
    href="https://github.com/sarahdayan/snippets.js" target="_blank" rel="noopener" class="block p-40">
    <p class="text-xs font-bold tracking-widest uppercase text-zenith">
      TypeScript
    </p>
    <h3 itemprop="name" class="mt-8 text-lg font-semibold leading-tight text-zenith">
      Snippets.js
    </h3>
    <p class="mt-8">Extract code snippets from source files.</p>
    <div class="flex items-center mt-16">
      <div class="w-16 h-16 p-2 mr-4"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.4 46.4" aria-hidden="true"
          class="w-full h-full -mt-px fill-current">
          <title>Star icon</title>
          <path
            d="M21.6 2c.3-.6.9-1 1.6-1 .7 0 1.3.4 1.6 1l5.8 11.7c.3.5.8.9 1.4 1l12.8 1.9c.7.1 1.2.6 1.4 1.2.2.6 0 1.4-.5 1.8l-9.3 9.1c-.4.4-.6 1-.5 1.6l2.2 12.9c.1.7-.2 1.4-.7 1.8-.6.4-1.3.5-1.9.1L24 39c-.5-.3-1.1-.3-1.7 0l-11.5 6.1c-.6.3-1.3.3-1.9-.1-.6-.4-.8-1.1-.7-1.8l2.2-12.9c.1-.6-.1-1.2-.5-1.6l-9.4-9c-.5-.5-.7-1.2-.5-1.8.2-.6.8-1.1 1.4-1.2l12.9-1.9c.6-.1 1.1-.5 1.4-1L21.6 2z">
          </path>
        </svg></div><span class="mt-2 text-xs font-semibold leading-none tracking-wider">
        16
        <span class="sr-only">stars</span></span>
    </div>
  </a></article>
</div>

<!-- 2 -->



<div id="talks" class="md:pt-88">
  <h2 class="sticky top-0 z-40 pt-24 text-sm font-bold tracking-widest uppercase md:sr-only text-zenith">
    Talks
  </h2>
  <div class="flex flex-wrap -my-4 md:-m-4 group pt-32 pb-40 md:py-0">
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320"
      style="transform: translateY(-27.95px);">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            JSCONF.BE
          </h4>
          <div class="flex flex-col mt-8">
            <p>Online</p><time itemprop="startDate" datetime="2020-06-23" content="2020-06-23" class="inline-block">June
              23, 2020</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            Learning from the Mistakes of a v1
          </h3>
          <!---->
        </div>
      </div>
    </article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            Frontend Love Meetup
          </h4>
          <div class="flex flex-col mt-8">
            <p>Online</p><time itemprop="startDate" datetime="2020-03-19" content="2020-03-19"
              class="inline-block">March 19, 2020</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            Why Javascript Numbers Are Weird (And How to Fix It)
          </h3>
          <footer class="mt-16">
            <ul class="flex -mx-8">
              <li class="mx-8"><a href="https://youtu.be/Wq2AqONg7rs" target="_blank" rel="noopener"
                  class="flex items-center mt-px text-zenith"><span>Video</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
              <li class="mx-8"><a
                  href="https://noti.st/sarahdayan/BAyJrr/why-javascript-numbers-are-weird-and-how-to-fix-it"
                  target="_blank" rel="noopener" class="flex items-center mt-px text-zenith"><span>Slides</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
            </ul>
          </footer>
        </div>
      </div>
    </article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320"
      style="transform: translateY(-27.95px);">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            Vue.js Amsterdam
          </h4>
          <div class="flex flex-col mt-8">
            <p itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place"><span itemprop="address"
                itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">
                  Amsterdam
                </span>
                —
                <span itemprop="addressCountry">The Netherlands</span></span></p><time itemprop="startDate"
              datetime="2020-02-21" content="2020-02-21" class="inline-block">February 21, 2020</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            Test-Driven Development with Vue.js
          </h3>
          <footer class="mt-16">
            <ul class="flex -mx-8">
              <li class="mx-8"><a href="https://youtu.be/OPWcqgqiJao" target="_blank" rel="noopener"
                  class="flex items-center mt-px text-zenith"><span>Video</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
              <li class="mx-8"><a href="https://noti.st/sarahdayan/q0xtRN/test-driven-development-with-vue-js"
                  target="_blank" rel="noopener" class="flex items-center mt-px text-zenith"><span>Slides</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
            </ul>
          </footer>
        </div>
      </div>
    </article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            dotCSS
          </h4>
          <div class="flex flex-col mt-8">
            <p itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place"><span itemprop="address"
                itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">
                  Paris
                </span>
                —
                <span itemprop="addressCountry">France</span></span></p><time itemprop="startDate" datetime="2019-12-04"
              content="2019-12-04" class="inline-block">December 4, 2019</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            In Defense of Utility-First CSS
          </h3>
          <footer class="mt-16">
            <ul class="flex -mx-8">
              <li class="mx-8"><a href="https://youtu.be/R50q4NES6Iw" target="_blank" rel="noopener"
                  class="flex items-center mt-px text-zenith"><span>Video</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
              <li class="mx-8"><a href="https://noti.st/sarahdayan/pmD0XT/in-defense-of-utility-first-css"
                  target="_blank" rel="noopener" class="flex items-center mt-px text-zenith"><span>Slides</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
            </ul>
          </footer>
        </div>
      </div>
    </article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320"
      style="transform: translateY(-27.95px);">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            VueConf Toronto
          </h4>
          <div class="flex flex-col mt-8">
            <p itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place"><span itemprop="address"
                itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">
                  Toronto
                </span>
                —
                <span itemprop="addressCountry">Canada</span></span></p><time itemprop="startDate" datetime="2019-11-11"
              content="2019-11-11" class="inline-block">November 11, 2019</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            Test-Driven Development with Vue.js
          </h3>
          <footer class="mt-16">
            <ul class="flex -mx-8">
              <li class="mx-8"><a href="https://www.youtube.com/watch?v=DD1fEhcEzY8" target="_blank" rel="noopener"
                  class="flex items-center mt-px text-zenith"><span>Video</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
              <li class="mx-8"><a href="https://noti.st/sarahdayan/S5voPs/test-driven-development-with-vue-js"
                  target="_blank" rel="noopener" class="flex items-center mt-px text-zenith"><span>Slides</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
            </ul>
          </footer>
        </div>
      </div>
    </article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            Vue.js Paris #20
          </h4>
          <div class="flex flex-col mt-8">
            <p itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place"><span itemprop="address"
                itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">
                  Paris
                </span>
                —
                <span itemprop="addressCountry">France</span></span></p><time itemprop="startDate" datetime="2019-06-05"
              content="2019-06-05" class="inline-block">June 5, 2019</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            An Introduction to TDD with Vue.js
          </h3>
          <footer class="mt-16">
            <ul class="flex -mx-8">
              <li class="mx-8"><a href="https://noti.st/sarahdayan/4PecIH/an-introduction-to-tdd-with-vue-js"
                  target="_blank" rel="noopener" class="flex items-center mt-px text-zenith"><span>Slides</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
            </ul>
          </footer>
        </div>
      </div>
    </article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320"
      style="transform: translateY(-27.95px);">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            JAMstack Paris
          </h4>
          <div class="flex flex-col mt-8">
            <p itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place"><span itemprop="address"
                itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">
                  Paris
                </span>
                —
                <span itemprop="addressCountry">France</span></span></p><time itemprop="startDate" datetime="2019-05-28"
              content="2019-05-28" class="inline-block">May 28, 2019</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            Scaling With(out) Middleman
          </h3>
          <footer class="mt-16">
            <ul class="flex -mx-8">
              <li class="mx-8"><a href="https://youtu.be/6feV1DrCBdE" target="_blank" rel="noopener"
                  class="flex items-center mt-px text-zenith"><span>Video</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
            </ul>
          </footer>
        </div>
      </div>
    </article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork"
      class="flex-none w-full my-4 md:m-4 md:w-240 md:min-h-240 lg:w-320 lg:min-h-320">
      <div
        class="flex flex-col justify-between w-full h-full p-40 min-h-inherit bg-dusk md:group-hover:opacity-50 md:hover:scale-11/10x md:hover:opacity-important transition">
        <header>
          <h4 itemprop="name" class="text-xs font-bold tracking-widest uppercase text-zenith">
            Vue.js Paris #19
          </h4>
          <div class="flex flex-col mt-8">
            <p itemprop="location" itemscope="itemscope" itemtype="http://schema.org/Place"><span itemprop="address"
                itemscope="itemscope" itemtype="http://schema.org/PostalAddress"><span itemprop="addressLocality">
                  Paris
                </span>
                —
                <span itemprop="addressCountry">France</span></span></p><time itemprop="startDate" datetime="2019-01-15"
              content="2019-01-15" class="inline-block">January 15, 2019</time>
          </div>
        </header>
        <div class="flex flex-col mt-24">
          <h3 itemprop="name" class="text-lg font-semibold leading-tight text-zenith">
            Building an Interactive Showcase with Vue.js &amp; Vue InstantSearch
          </h3>
          <footer class="mt-16">
            <ul class="flex -mx-8">
              <li class="mx-8"><a href="https://www.youtube.com/watch?v=Zw-Ie5zPhYk" target="_blank" rel="noopener"
                  class="flex items-center mt-px text-zenith"><span>Video</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
              <li class="mx-8"><a
                  href="https://noti.st/sarahdayan/gjNQAg/building-an-interactive-showcase-with-vue-js-vue-instantsearch"
                  target="_blank" rel="noopener" class="flex items-center mt-px text-zenith"><span>Slides</span><span
                    class="block w-16 p-2 ml-4 text-dawn"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 12 12"
                      aria-hidden="true" class="flex-none stroke-current">
                      <title>External link icon</title>
                      <path
                        d="M10.976 1.193A.314.314 0 0010.687 1H6.312a.313.313 0 000 .625h3.62L5.467 6.091a.313.313 0 00.443.442l4.466-4.466v3.62a.313.313 0 00.625 0V1.313a.328.328 0 00-.024-.119z">
                      </path>
                      <path
                        d="M3.5 1v.625H2.25a.625.625 0 00-.625.625v7.5c0 .345.28.625.625.625h7.5c.345 0 .625-.28.625-.625V8.5H11v1.875c0 .345-.28.625-.625.625h-8.75A.625.625 0 011 10.375v-8.75C1 1.28 1.28 1 1.625 1H3.5z">
                      </path>
                    </svg></span></a></li>
            </ul>
          </footer>
        </div>
      </div>
    </article>
  </div>
</div>

<div id="interviews" class="mb-48 md:pt-8">
  <h2 class="sticky top-0 z-40 pt-24 text-sm font-bold tracking-widest uppercase md:sr-only text-zenith">
    Interviews
  </h2>
  <div class="-my-48 group pt-80 md:pt-0 md:mt-72">
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://enjoythevue.io/episodes/20/" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="h-24 stroke-current md:h-32">
            <title>Volume icon</title>
            <path d="M11 5L6 9H2v6h4l5 4V5zM19.07 4.93a10 10 0 010 14.14M15.54 8.46a5 5 0 010 7.07"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            State Machines, XState &amp; Vue (with David Khourshid)
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Enjoy the Vue</span> — with
            <span itemprop="author">
              Ben Hong, Ari Clark, Tessa
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">June 8, 2020
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://www.buzzsprout.com/1027129/4004510-episode-2-live-coding" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="h-24 stroke-current md:h-32">
            <title>Volume icon</title>
            <path d="M11 5L6 9H2v6h4l5 4V5zM19.07 4.93a10 10 0 010 14.14M15.54 8.46a5 5 0 010 7.07"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            Live-Coding
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">DreamStacks Podcast</span> — with
            <span itemprop="author">
              Amelia Winger-Bearskin, Sam Agnew, Dan Gorelick, Shy Ruparel
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">June 1, 2020
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://enjoythevue.io/episodes/11/" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="h-24 stroke-current md:h-32">
            <title>Volume icon</title>
            <path d="M11 5L6 9H2v6h4l5 4V5zM19.07 4.93a10 10 0 010 14.14M15.54 8.46a5 5 0 010 7.07"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            Test Driven Development
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Enjoy the Vue</span> — with
            <span itemprop="author">
              Ben Hong, Ari Clark, Tessa
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">April 6, 2020
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://www.youtube.com/watch?v=62C-E6WL0_A" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="ml-4 h-24 stroke-current md:h-32">
            <title>Play icon</title>
            <path d="M5 3l14 9-14 9V3z"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            Journey to JavaScript development
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Prismic Studio</span> — with
            <span itemprop="author">
              Sadek Drobi
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">November 27, 2019
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://www.youtube.com/watch?v=HW0BvDCSspE" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="ml-4 h-24 stroke-current md:h-32">
            <title>Play icon</title>
            <path d="M5 3l14 9-14 9V3z"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            Moving from PHP to JavaScript
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Prismic Studio</span> — with
            <span itemprop="author">
              Sadek Drobi
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">November 14, 2019
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://www.youtube.com/watch?v=PcrzsCdoFoY" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="ml-4 h-24 stroke-current md:h-32">
            <title>Play icon</title>
            <path d="M5 3l14 9-14 9V3z"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            Introduction to Atomic CSS
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Prismic Studio</span> — with
            <span itemprop="author">
              Sadek Drobi
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">October 16, 2019
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://www.youtube.com/watch?v=Uzwbij42AjI" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="ml-4 h-24 stroke-current md:h-32">
            <title>Play icon</title>
            <path d="M5 3l14 9-14 9V3z"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            Utility-First CSS
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher"> This Dot Media</span> — with
            <span itemprop="author">
              Rob Ocel, Jake Dohm, Adam Wathan
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">July 10, 2019
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://devchat.tv/my-javascript-story/mjs-113-sarah-dayan/" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="h-24 stroke-current md:h-32">
            <title>Volume icon</title>
            <path d="M11 5L6 9H2v6h4l5 4V5zM19.07 4.93a10 10 0 010 14.14M15.54 8.46a5 5 0 010 7.07"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            My JavaScript Story
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Devchat.tv</span> — with
            <span itemprop="author">
              Charles Max Wood
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">June 25, 2019
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://devchat.tv/js-jabber/jsj-351-dinero-js-with-sarah-dayan/" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke-linecap="round" stroke-linejoin="round"
            viewBox="0 0 24 24" aria-hidden="true" class="h-24 stroke-current md:h-32">
            <title>Volume icon</title>
            <path d="M11 5L6 9H2v6h4l5 4V5zM19.07 4.93a10 10 0 010 14.14M15.54 8.46a5 5 0 010 7.07"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            JavaScript Jabber
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Devchat.tv</span> — with
            <span itemprop="author">
              Charles Max Wood, Joe Eames, Aimee Knight, Chris Ferdinandi, AJ O’Neal
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">February 12, 2019
          </time>
        </div>
      </a></article>
    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="my-48"><a
        href="https://www.samjarman.co.nz/blog/sarah-dayan" target="_blank" rel="noopener"
        class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2">
        <div
          class="flex items-center justify-center flex-none mr-24 rounded-full md:mr-40 w-80 h-80 md:w-120 md:h-120 bg-dusk text-zenith md:group-2-hover:scale-11/10x transition">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
            stroke-linejoin="round" viewBox="0 0 24 24" aria-hidden="true" class="h-24 stroke-current md:h-32">
            <title>Quill icon</title>
            <path d="M20.24 12.24a6 6 0 00-8.49-8.49L5 10.5V19h8.5zM16 8L2 22M17.5 15H9"></path>
          </svg></div>
        <div>
          <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
            On Frontend Development and Staying Curious
          </h3>
          <p class="mt-8 mb-2"><span itemprop="publisher">Sam Jarman</span> — with
            <span itemprop="author">
              Sam Jarman
            </span></p><time itemprop="datePublished"
            class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">April 10, 2018
          </time>
        </div>
      </a></article>
  </div>
</div>

{{ end }}
