{{ define "main" }}


<header id="tags" class="row-nm m-32 center intro-sm">
  <div class="column center w-full">
    <h1 class="align-center">I publish my thoughts occasionally <span class="fs-large">🤔</span> </h1>
  </div>
</header>
<section class="row-nm align-center j-center">
  <div class="column-nm-sm w-full mx-60 ">
    <h2 class="font-circular center">I enjoy taking some time to think about how we work, design and live, whenever possible. Here are some of my recent ideas I've published on how to design and code things for the web.</h2>
  </div>
</section>


<section class="row-nm thumbnails m-120">
  <a href="https://dribbble.com/shots/3489077-Messages-iPhone-App" title="View latest work samples on Dribbble" target="_blank">
    <img srcset="
    ../img/1.png 1x,
    ../img/1@2x.png 2x,
    ../img/1@3x.png 3x" alt="Latest work samples on Dribbble">
  </a>
  <a href="https://dribbble.com/murshidazher" title="View latest work samples on Dribbble" target="_blank">
    <img srcset="
    ../img/1.png 1x,
        ../img/1@2x.png 2x,
        ../img/1@3x.png 3x" alt="Latest work samples on Dribbble">
  </a>
  <a href="https://dribbble.com/shots/3846330-Google-Photos-for-Android" title="View latest work samples on Dribbble" target="_blank">
    <img srcset="
    ../img/1.png 1x,
    ../img/1@2x.png 2x,
    ../img/1@3x.png 3x" alt="Latest work samples on Dribbble">
  </a>
</section>

<section class="row">
  <div class="column">
    <p>I provide product design services, working with startups and established companies to improve performance and ease-of-use of their products.</p>
  </div>
  <div class="column">
    <p>My services include product analysis, through to full product design - from wireframing and prototyping, to interface design and front-end development.</p>
  </div>
  <div class="column">
    <p>Previous experience includes designing products for startups with up to £100m in funding, and large corporations with market capitalisations of up to £200b.</p>
  </div>
</section>

<hr>

  <section id="articles_list" class="">
    {{ range .Data.Pages }}

    <article itemscope="itemscope" itemtype="http://schema.org/CreativeWork" class="flex my-48">
      <a
      href="{{ .Permalink }}" rel="noopener"
      class="flex md:items-center md:group-hover:opacity-50 md:hover:opacity-important transition group-2 no-focus">

      <div class="articles_list--meta">
        {{ partial "post/tags.html" . }}
        <h3 itemprop="name" class="text-lg font-semibold leading-snug md:leading-tight text-zenith">
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h3>
        <!-- <p class="mt-8 mb-2"><span itemprop="publisher"></span> —
          <span itemprop="author">
            Murshid Azher
          </span>
        </p> -->
        <p class="max-ch-60 mt-8">{{ .Description | markdownify }}</p>
          <time itemprop="datePublished"
          class="inline-block mt-8 text-xs font-bold tracking-widest uppercase text-zenith">{{ .Date.Format "Mon, Jan 2, 2006" }}
        </time>
      </div>
    </a></article>

    <!-- <article class="PostListItem h-entry">
      <h3 class="PostListItem-title p-name">
        {{ if isset .Params "affiliatelink" }}

        <a href="{{ .Params.affiliatelink }}" target="_blank" class="u-url"
          >{{ .Title }}</a
        ><span>&#8599;</span> {{else}}

        <a href="{{ .Permalink }}" class="u-url">{{ .Title }}</a> {{ end }}

      </h3>
      <div hidden>
        <a rel="author" class="p-author h-card" href="{{ $.Site.BaseURL }}"
          >Harry Cresswell</a
        >
      </div>
      <div class="PostListItem-meta">
        <time class="dt-published" datetime="{{ .Date }}"
          >{{ .Date.Format "Mon, Jan 2, 2006" }}</time
        >
        — {{ partial "post/tags.html" . }}

      </div>
      <p>{{ .Description | markdownify }}</p>
    </article> -->
    {{ end }}

  </section>

{{ end }}
