{{ define "main" }}

<article id="content" class="Post h-entry">
  <header class="PostHeader">
    <div class="">

      <h1 class="z-40 my-8 mt-8 text-lg font-semibold leading-tight text-zenith">{{ .Title }}</h1>
    </div>
  </header>

  <section class="articles_list--meta flex flex-row mb-16">
   <div class="tags flex flex-row items-center">
    <time itemprop="datePublished"
      class="inline-block" datetime="{{ .Date }}">{{ .Date.Format "Mon, Jan 2, 2006" }}
    </time> &nbsp; — &nbsp; {{ partial "post/tags.html" . }}
  </div>
  </section>

  <section class="PostBody e-content">
    {{ partial "heading-anchor.html" .Content }}

  </section>
</article>
<!--/.Content -->
{{ end }}
