// main

$radius-large: 8px;
$padding: 7px 7px 7px 15px;
$light-brown: #fcfaf7;
$brown: #ab865b;
$font-weight-medium: 500;
$radius: 4px;
$black: #111;
$button-padding: 11px 13px 12px;
$gutter: 40px;
$width: 960px; // 66.67px
$font-weight-regular: 400;
$dark-grey:#555;
$very-light-grey: #f8f8f8;
$grey: #9b9b9b;

$font-primary: "Graphik",sans-serif;
// $font-primary: "Roboto", Arial, Helvetica, sans-serif;
$color: #747474;
$font-height: 1.5;
$link-color: rgb(22, 35, 221);
$link-color-light: #ebebfa;
$light-grey: #ebebeb;

$base-unit: 4px;
