
html {
  font-feature-settings: "calt","liga","hist","onum","pnum";
  background-color: #542bff;
}

body {
  background-color: white;
}

.text-black {
  color: $black;
}

.intro {
  height: 240px;
}






hr {
  width: 90px;
  border: 1px solid $very-light-grey;
  margin: 0 auto 0 0;
}

.contact-bar {
  border-radius: $radius-large;
  padding: $padding;
  background-color: $light-brown;
  color: $brown;
  font-size: 0.875rem;
}

a.email-button, a.email {
  color: white;
  font-weight: $font-weight-medium;
  line-height: 1;
  text-decoration: none;
  border: none;
  z-index: 2;
  &:hover {
    opacity: 0.8;
  }
}

a.email-button {
  border-radius: $radius;
  padding: 11px;
  background-color: $black;
  img {
    vertical-align: middle;
  }
}


.m-32 {
  margin-top: $gutter ;
}

.mb-16 {
  margin-bottom: 1rem;
}

a.email {
  border-radius: $radius;
  padding: $button-padding;
  background-color: $brown;
}

.thumbnails {
  a {
    border: none;
    z-index: 2;
    &:hover {
      opacity: 0.8;
    }
    img {
      border-radius: $radius-large;
      width: ($width - $gutter * 2) / 3;
      height: auto;
    }
  }
}

.thumbnails, .testimonials {
  margin-bottom: $gutter * 2;
}

.question {
  color: $black;
  font-weight: $font-weight-regular;
  margin-bottom: $gutter / 2;
}

mark {
  border-radius: $radius;
  color: $dark-grey;
  background: $very-light-grey;
}

.author {
  display: flex;
  align-items: center;
  color: $grey;
  margin-top: $gutter / 2;
  img {
    margin-right: $gutter / 4;
    border-radius: 100%;
  }
}


.github-project {
  display: inline-block;

  color: #fff;
  user-select: none;
  position: relative;
  box-sizing: border-box;
  flex: 0 0 auto;
  //   margin-right: 3px;



    min-width: 18.5rem;
    max-width: 18.5rem;
    position: relative;
    box-sizing: border-box;
    border-radius: $radius;

    // background: #497fec;
    background: $black;

    // border: dotted 1px $black;

    &:first-child {
      // margin-left: $gutter * 2;
    }

    &:not(:last-child) {
      margin-right: $gutter;
    }

    .github-project__wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2rem 2.5rem;

      .github-project__logo {
        height: 4rem;
        filter: brightness(0) invert(1);

        .styles-module--logo--21NEY img {
          height: 100%;
        }
        .styles-module--fallbackImg--C-RAL {
            vertical-align: middle;
            max-width: 80%;
            max-height: 100%;
        }
      }

      .github-project__body {
        // max-width: 14rem;
        // height: 10rem;
        white-space: initial;
        font-size: .95em;
        color: hsl(0,0%,98%);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
        margin: 16px 0 2rem;

        .github-project__body--title {
          color: white;
          padding-bottom: 8px;
        }


      }
    }
}


// footer

footer, footer a {
  color: $grey;
}

.rounded-full {
  border-radius: 9999px;
}

.w-48 {
  width: 180px;
}

.mr-32 {
  margin-right: 32px;
}

.h-48 {
  height: 180px;
}

.center {
  display: flex;
  // align-items: center;
  justify-content: center;
}

.align-center {
  text-align: center;
}

h1 {
  font-family: Circularstd, sans-serif;
}

.logo {
  font-family: Circularstd, sans-serif;
  font-weight: 500;
}


// new
.row-nm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.intro-sm {
  height: 220px;
  align-items: flex-end;
}

a {
  cursor: pointer;
}

a:active, a:hover {
  // outline: 0;
}

.text-nav {
  padding-bottom: 4px;
    border-bottom: 2px solid none;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    padding-bottom: 12px;
    border-bottom-color: transparent;
    transition: all 200s ease;

    &:hover {
      border-bottom: 2px solid #000;
      padding-bottom: 8px;
      transition: all 200s ease;
    }

    &.active {
      border-bottom: 2px solid #000;
      padding-bottom: 8px;
    }

    &:active {
      color: #000;
    }

    &:visited {
      color:#000;
    }
}



.scroll-up {

  display: flex;
  justify-content: flex-end;
  width: 30%;

  .img {
    margin: 1rem;
  }
}



// media

@media screen and (min-width: 850px) {
  .column {
    flex: 1;
  }



}

@media screen and (max-width: 1060px) {


.intro-sm {
  height: 200px;
  align-items: flex-end;
}

  body {
    padding: $gutter 0 0;
  }

  footer {
    padding: $gutter 0;
  }

  .row-nm {
    position: relative;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;

    &.column {
      margin: none;
    }
  }



  header, main {
    max-width: 85%;
  }

  .footer-nav {
    max-width: 85%;
  }

  h1 {
    font-size: 1.375rem;
    // width: 100%;
  }
  .thumbnails a {
    width: 30%;
    img {
      width: 100%;
    }
  }
  .contact-bar {
    padding: $gutter * 0.75;
    text-align: center;
    justify-content: space-around;
    .message {
      width: 100%;
    }
    a.email {
      margin-top: $gutter / 2;
    }
  }
}

@media screen and (max-width: 850px) {


.intro-sm {
  height: 160px;
  align-items: flex-end;
}

  .scroll-up {
    width: 16%;
  }

  .mt-32-md {
    margin-top: 2rem;
  }

  .m-32 {
    margin-top: 60px;
}


  .footer-nav{
    margin: 0 auto;
  }



  .nav-mobile {
    display: inline;
    text-align: right;

    .column {
      margin: 10px;
    }
  }

  .row {
    margin: $gutter / 2 0;
  }
  .column {
    margin: $gutter / 2 0;
  }

  .column-nm-sm {
    margin: none;
  }

  .logo {
    margin: 8px 0;
  }

  .clients {
    width: 400px;
    margin: $gutter auto;
    justify-content: space-around;
    img {
      padding: $gutter / 4;
    }
  }
}

// mobile
@media screen and (max-width: 500px) {


.intro-sm {
  height: 140px;
  align-items: flex-end;
}

  .github-project {
    &:not(:last-child) {
      margin-right: $gutter * .5;
    }
  }

  .m-32 {
    margin-top: $gutter * 2 ;
  }

  .scroll-up {
    width: 8%;
  }

  .footer-copyright__mail {
    display: none;
  }

  .footer-nav{

    margin: 0 auto;
  }

  .logo {
    margin: 8px 0;
  }


  .nav-mobile {
    display: inline;
    text-align: right;

    .column {
      margin: 10px;
    }
  }

  .intro {
    height: 250px;
  }
  .clients {
    width: 300px;
  }
  .thumbnails a {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {

  .intro {
    height: 200px;
  }
  .column {
    margin: $gutter / 4 0;
  }
  .clients {
    width: 100px;
  }
}

.w-full {
  width: 100%;
}

.small {
  font-size: 0.75em;
}

.font-circular {
  font-family: Circularstd, sans-serif;
}

.mx-60 {
  max-width: 60ch;
}

.mx-45 {
  max-width: 45ch;
}


.j-center {
  justify-content: center;
}

.bg-light-brown {
  background-color: #fafafb;
}

.w-60 {
  width: 60%;
}

.fw-500 {
  font-weight: 500;
}

.footer-nav__list {
    page-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;

    .footer-nav__list--header {
      color: $black;
      font-weight: 500;
    }

    .footer-nav__list--body {
      list-style: none;
      margin: 1rem 0 0;
      padding: 0;

      .footer-nav__list--child {
        margin: .5rem 0;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
      }

    }
}


.mb-80 {
  margin-bottom: 80px;
}


.footer-copyright {
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #f0f1f3;
  font-size: .875em;
}

.footer-nav__wrapper {
  // max-width: 70%;
}


.learn-more-button {
  position: relative;
  display: inline-block;
  padding-top: 3px;
  padding-right: 30px;
  padding-bottom: 3px;
  align-items: center;
  filter: brightness(0) invert(1);
  background-repeat: no-repeat;
  // background-image: url('../img/arrow-right.svg');
  background-position: 100% 50%;
  background-size: 18px;
  transition: padding .2s ease;
  color: white;
  text-decoration: none;

  &:hover {
    transition: padding .2s ease;
    padding-right: 35px;
    outline: 0;
  }
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  // .card {
  //   display: inline-block;
  // }
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  // .card {
  //   flex: 0 0 auto;
  //   margin-right: 3px;
  // }
}

// .card {
//   width: 150px;
//   height: 75px;
//   background: black;
// }

.scrolling-wrapper, .scrolling-wrapper-flexbox {

  // margin-bottom: 20px;
  // width: 100%;
  height: 21rem;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}

.projects {
  margin-bottom: $gutter * 2;
}

small {
  font-size: .95em;
}


.subtitle {
  font-size: 1.375em;
}

.bg-pink {
  background-color: #EC5B55;
}

.bg-purple {
  background-color: #7A55E7;
}

.bg-lblue {
  background-color: #A9D1D5;
}

.bg-blue {
  background-color: #495DE6;
}

.bg-orange {
  background-color: #F08C34
}

.bg-bage {
  background-color: #FDD283
}

.bg-green {
  background-color: #49C5B6
}



.tags__wrapper {
  flex-wrap: wrap;
    overflow: hidden;

    // max-height: 260px;

    margin-top: 45px;

    justify-content: center;

    display: flex;

  .tags__child {
    align-items: center;

      display: inline-flex;

      // font-size: 24px;

      // line-height: 32px;

      padding-right: 12px;

      padding: 6px;

      margin: 5px;

      height: 42px;

      color: rgba(117, 117, 117, 1);

      border-radius: 99em;

      background-color: rgba(242, 242, 242, 1);

      letter-spacing: 0px;

      font-style: normal;

      .tag__text {
        // padding-left: .5rem;
        padding-right: .75rem;
      }

      .tags__child--number {

        display: flex;
        flex-direction: column;
        margin-right: 6px;
        padding: .25rem;
        background-color: #828282;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        // display: flex;

          span {
            display: flex;
            justify-content: center;
            font-weight: 600;
            font-family: Circularstd, sans-serif;
            // margin-left: 0.1rem;
            // padding: .15rem;
            color: rgb(255, 255, 255);
          }
      }
  }
}

.fs-large {
  margin-left: .5rem;
  font-size: 1.5em;
}

.no-outline {

  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }

}

.m-120 {
  margin-top: 120px;
}

.col-lg-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}


// @media (min-width: 576px)
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}









