html {
  font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
  background-color: #542bff;
}

.logo {
  color: $black;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
}

// body {
//   background-color: white;
//   // background-image: url('../img/dot-grid.png');
// }

// Colors
$bg-color: #fff;
$dot-color: #f0f0f0;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

body {
  background-color: #fff;
  font-family: $font-system-rg;
  color: var(--color-body);
	// background:
	// 	linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
	// 	linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
	// 	$dot-color;
	// background-size: $dot-space $dot-space;
}

.text-black {
  color: $black;
}

.intro {
  height: 240px;
}






hr {
  width: 90px;
  border: 1px solid $very-light-grey;
  margin: 0 auto 0 0;
}

.contact-bar {
  border-radius: $radius-large;
  padding: $padding;
  background-color: $light-brown;
  color: $brown;
  font-size: 0.875rem;
}

a.email-button,
a.email {
  color: white;
  font-weight: $font-weight-medium;
  line-height: 1;
  text-decoration: none;
  border: none;
  z-index: 2;

  &:hover {
    opacity: 0.8;
  }
}

a.email-button {
  border-radius: $radius;
  padding: 11px;
  background-color: $black;

  img {
    vertical-align: middle;
  }
}


.m-32 {
  margin-top: $gutter;
}

.mb-16 {
  margin-bottom: 1rem;
}

a.email {
  border-radius: $radius;
  padding: $button-padding;
  background-color: $brown;
}

.thumbnails {
  a {
    border: none;
    z-index: 2;

    &:hover {
      opacity: 0.8;
    }

    img {
      border-radius: $radius-large;
      width: ($width - $gutter * 2) / 3;
      height: auto;
    }
  }
}

.thumbnails,
.testimonials {
  margin-bottom: $gutter * 2;
}

.question {
  color: $black;
  font-weight: $font-weight-regular;
  margin-bottom: $gutter / 2;
}

mark {
  border-radius: $radius;
  color: $dark-grey;
  background: $very-light-grey;
}

.author {
  display: flex;
  align-items: center;
  color: var(--color-body);
  margin-top: $gutter / 2;

  img {
    margin-right: $gutter / 4;
    border-radius: 100%;
  }
}


.github-project {
  display: inline-block;

  color: #fff;
  user-select: none;
  position: relative;
  box-sizing: border-box;
  flex: 0 0 auto;
  //   margin-right: 3px;



  min-width: 18.5rem;
  max-width: 18.5rem;
  position: relative;
  box-sizing: border-box;
  border-radius: $radius;

  // background: #497fec;
  background: $black;

  // border: dotted 1px $black;

  &:first-child {
    // margin-left: $gutter * 2;
  }

  &:not(:last-child) {
    margin-right: $gutter;
  }

  .github-project__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 2.5rem;

    .github-project__logo {
      height: 4rem;
      filter: brightness(0) invert(1);

      .styles-module--logo--21NEY img {
        height: 100%;
      }

      .styles-module--fallbackImg--C-RAL {
        vertical-align: middle;
        max-width: 80%;
        max-height: 100%;
      }
    }

    .github-project__body {
      // max-width: 14rem;
      // height: 10rem;
      white-space: initial;
      font-size: .95em;
      color: hsl(0, 0%, 98%);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      /* number of lines to show */
      -webkit-box-orient: vertical;
      margin: 16px 0 2rem;

      .github-project__body--title {
        color: white;
        padding-bottom: 8px;
      }


    }
  }
}


// footer

footer,
footer a {
  color: var(--color-body);
}

.footer__quote {
    display: flex;
    align-items: end;
    justify-content: center;
}

.rounded-full {
  border-radius: 9999px;
}

.w-48 {
  width: 180px;
}

.mr-32 {
  margin-right: 32px;
}

.h-48 {
  height: 180px;
}

.center {
  display: flex;
  // align-items: center;
  justify-content: center;
}

.align-center {
  text-align: center;
  align-items: center;
}

h1 {
//   font-family: 'Khula', sans-serif;
  line-height: 1.33;
  margin-top: $base-unit;
  margin-bottom: $base-unit * 2;
  font-weight: 700;
    font-style: normal;
}

.logo {
//   font-family: 'Khula', sans-serif;
  font-weight: 700;
}


// new
.row-nm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.intro-sm {
  height: 180px;
  align-items: flex-end;
}

a {
  cursor: pointer;
}

a:active,
a:hover {
  // outline: 0;
}

.PostBody h2,
.PostBody h3,
.PostBody h4,
.PostBody h5,
.PostBody h6 {
  margin-top: 2.4rem;
  color: $black;

}

.PostBody h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

.text-nav {
  padding-bottom: 4px;
  border-bottom: 2px solid none;
  color: #000;
  text-decoration: none;
  background-color: transparent;
  padding-bottom: 12px;
  border-bottom-color: transparent;
  transition: all 200s ease;

  &:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
    transition: all 200s ease;
  }

  &.active {
    color: #000;
    border-bottom: 2px solid #000;
    padding-bottom: 8px;
  }

  &:visited {
    color: #000;
  }
}


.scroll-up {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;

  .img {
    margin: 1rem;
  }
}


.center-max {
  max-width: 75%;
  margin: auto;
}


// media

@media screen and (min-width: 850px) {
  .column {
    flex: 1;
  }


  .col-lg-8 {
    @include make-col(8, 12);
  }

  .col-lg-7 {
    @include make-col(7, 12);
  }

  .col-lg-9 {
    @include make-col(9, 12);
  }

  .col-lg-10 {
    @include make-col(10, 12);
  }

  .col-lg-4 {
    @include make-col(4, 12);
  }

  .col-lg-3 {
    @include make-col(3, 12);
  }

  .col-lg-2 {
    @include make-col(2, 12);
  }

  .col-lg-1 {
    @include make-col(1, 12);
  }



}

@media screen and (max-width: 1060px) {




  .intro-sm {
    height: 200px;
    align-items: flex-end;
  }

  body {
    padding: $gutter 0 0;
  }

  footer {
    padding: $gutter 0;
  }

  .row-nm {
    position: relative;
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-between;

    &.column {
      margin: none;
    }
  }



  header,
  main {
    max-width: 85%;
  }

  .footer-nav {
    max-width: 85%;
  }

  h1 {
    font-size: 1.375rem;
    // width: 100%;
  }

  .thumbnails a {
    width: 30%;

    img {
      width: 100%;
    }
  }

  .contact-bar {
    padding: $gutter * 0.75;
    text-align: center;
    justify-content: space-around;

    .message {
      width: 100%;
    }

    a.email {
      margin-top: $gutter / 2;
    }
  }
}

@media screen and (min-width: 1060px) {

  .hs-full-height {
    .hs-featured-image {
      height: $base-unit * 100;
    }
  }

  .article_img {
    margin: $base-unit * 10 $base-unit * 8;
  }

  .published-date {
    margin-top: $base-unit * 4;
  }

  .articles_list--item {
    @include make-col(4, 12);
  }

  .articles_list--item__body {
    margin-right: $gutter / 2;
    margin-left: $gutter / 2;
  }
}

@media screen and (max-width: 1060px) {

  .hs-full-height {
    .hs-featured-image {
      height: 400px;
    }
  }

  .article_img {
    margin-top: $base-unit * 10;
    margin-bottom: $base-unit * 10;
  }

  .articles_list--item {
    @include make-col(6, 12);
  }

  .articles_list--item__body {
    margin-right: $gutter / 2;
    margin-left: $gutter / 2;
  }
}


@media screen and (max-width: 700px) {

  .articles_list--item {
    display: flex;
    @include make-col(12, 12);
    justify-items: center;
    align-items: center;
    align-content: center;

  }

  // .articles_list--item__body {
  //   margin-right: 0px;
  // }
}

@media screen and (max-width: 850px) {

    .mb-32-md {
        margin-bottom: 2rem;
    }

  .hs-full-height {
    .hs-featured-image {
      height: 320px;
    }
  }

  .article_img {
    margin-top: $base-unit * 8;
    margin-bottom: $base-unit * 10;
  }

  .center-max {
    max-width: 85%;
    margin: auto;
  }

  .col-md-8 {
    @include make-col(8, 12);
  }

  .col-md-9 {
    @include make-col(9, 12);
  }

  .col-md-12 {
    @include make-col(12, 12);
  }

  .col-md-10 {
    @include make-col(10, 12);
  }

  .col-md-6 {
    @include make-col(6, 12);
  }

  .col-md-7 {
    @include make-col(7, 12);
  }

  .col-md-4 {
    @include make-col(4, 12);
  }

  .col-md-3 {
    @include make-col(3, 12);
  }

  .col-md-2 {
    @include make-col(2, 12);
  }

  .col-md-1 {
    @include make-col(1, 12);
  }

  .mb-32 {
    margin-bottom: 32px;
  }

  .footer__quote {

    margin-top: $base-unit * 6;
    text-align: start;
    justify-content: flex-start;
}

.footer-copyright__text {
    text-align: center;
}

.footer-copyright__mail {
    margin-top: $base-unit * 6;
}


  .intro-sm {
    height: 160px;
    align-items: flex-end;
  }

  .scroll-up {
    // width: 16%;
  }

  .mt-32-md {
    margin-top: 2rem;
  }

  .m-32 {
    margin-top: 60px;
  }


  .footer-nav {
    margin: 0 auto;
  }



  .nav-mobile {
    display: inline;
    text-align: right;

    .column {
      margin: 10px;
      margin-bottom: $base-unit * 4;
    }
  }

  .row {
    margin: $gutter / 2 0;
  }

  .column {
    margin: $gutter / 2 0;
  }

  .column-nm-sm {
    margin: none;
  }

  .logo {
    margin: 8px 0;
  }

  .clients {
    width: 400px;
    margin: $gutter auto;
    justify-content: space-around;

    img {
      padding: $gutter / 4;
    }
  }
}

// mobile
@media screen and (max-width: 500px) {

    .header__wrapper {
        flex-direction: column;
        align-items: center;
    }

  .articles_list--item__body {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }

  .hs-full-height {
    .hs-featured-image {
      height: 220px;
    }
  }

  .center-max {
    max-width: none;
  }

  .col-sm-8 {
    @include make-col(8, 12);
  }

  .col-sm-9 {
    @include make-col(9, 12);
  }

  .col-sm-10 {
    @include make-col(10, 12);
  }

  .col-sm-12 {
    @include make-col(12, 12);
  }

  .col-sm-6 {
    @include make-col(6, 12);
  }

  .col-sm-7 {
    @include make-col(7, 12);
  }

  .col-sm-4 {
    @include make-col(4, 12);
  }

  .col-sm-3 {
    @include make-col(3, 12);
  }

  .col-sm-2 {
    @include make-col(2, 12);
  }

  .col-sm-1 {
    @include make-col(1, 12);
  }

  .intro-sm {
    height: 140px;
    align-items: flex-end;
  }

  .github-project {
    &:not(:last-child) {
      margin-right: $gutter * .5;
    }
  }

  .m-32 {
    margin-top: $gutter;
  }

  .scroll-up {
    // width: 8%;
  }

  .footer-copyright__mail {
    // display: none;
  }

  .footer-nav {

    margin: 0 auto;
  }

  .logo {
    margin: 8px 0;
  }


  .nav-mobile {
    display: inline;
    text-align: right;

    .column {
      margin: 10px;
      margin-bottom: $base-unit * 4;
    }
  }

  .intro {
    height: 250px;
  }

  .clients {
    width: 300px;
  }

  .thumbnails a {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {

  .col-xs-12 {
    @include make-col(12, 12);
  }

  .intro {
    height: 200px;
  }

  .column {
    margin: $gutter / 4 0;
  }

  .clients {
    width: 100px;
  }
}

.w-full {
  width: 100%;
}

.small {
  font-size: 0.75em;
}

.font-circular {
//   font-family: 'Khula', sans-serif;
}

.font-circular-book {
    // font-family: 'Khula', sans-serif;
}

.mx-60 {
  max-width: 60ch;
}

.mx-45 {
  max-width: 45ch;
}


.j-center {
  justify-content: center;
}

.bg-light-brown {
  background-color: #fafafb;
}

.w-60 {
  width: 60%;
}

.fw-500 {
  font-weight: 500;
}


.fw-600 {
    font-weight: 600;
  }

.footer-nav__list {
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;

  .footer-nav__list--header {
    color: $black;
    font-weight: 600;
    text-decoration: none;
  }

  .footer-nav__list--body {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;

    .footer-nav__list--child {
      text-decoration: none;
      margin: .5rem 0;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;

      a {
        text-decoration: none;
      }
    }

  }
}


.mb-80 {
  margin-bottom: 80px;
}


.footer-copyright {
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #f0f1f3;
  font-size: .875em;
}

.footer-nav__wrapper {
  // max-width: 70%;
}


.learn-more-button {
  position: relative;
  display: inline-block;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  align-items: center;
//   filter: brightness(0) invert(1);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 20px;
  transition: padding .2s ease;
  color: white;
  text-decoration: none;

  &--left {
    padding-left: 30px;
    background-position: 0% 50%;

    &:hover {
        transition: padding .2s ease;
        padding-left: 35px;
        outline: 0;
    }
  }


  &:hover {
    transition: padding .2s ease;
    padding-right: 35px;
    outline: 0;
  }
}


.arrow-right{
  background-image: url(/img/arrow-right.svg);
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  // .card {
  //   flex: 0 0 auto;
  //   margin-right: 3px;
  // }
}

// .card {
//   width: 150px;
//   height: 75px;
//   background: black;
// }

.scrolling-wrapper,
.scrolling-wrapper-flexbox {

  // margin-bottom: 20px;
  // width: 100%;
  height: 22rem;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }
}

.projects {
  margin-bottom: $gutter * 2;
}

small {
  font-size: .95em;
}


.subtitle {
  font-size: 1.375em;
}

.bg-pink {
  background-color: #EC5B55;
}

.bg-purple {
  background-color: #7A55E7;
}

.bg-lblue {
  background-color: #A9D1D5;
}

.bg-blue {
  background-color: #495DE6;
}

.bg-orange {
  background-color: #F08C34
}

.bg-bage {
  background-color: #FDD283
}

.bg-green {
  background-color: #49C5B6
}



.tags__wrapper {
  flex-wrap: wrap;
  overflow: hidden;

  // max-height: 260px;

  margin-top: 45px;

  justify-content: center;

  display: flex;

  .tags__child {
    align-items: center;
    display: inline-flex;
    padding-right: 12px;
    padding: 6px;
    margin: 5px;
    // height: 42px;
    color: $link-color;
    border-radius: 99em;
    background-color: $link-color-light;
    letter-spacing: 0px;
    font-style: normal;

    .tag__text {
      // padding-left: .5rem;
      padding-right: .75rem;
    }

    .tags__child--number {

      display: flex;
      flex-direction: column;
      margin-right: 6px;
      padding: .25rem;
      background-color: #d8dbff;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      // display: flex;

      span {
        display: flex;
        justify-content: center;
        font-weight: 700;
        // font-family: 'Khula book', sans-serif;
        // margin-left: 0.1rem;
        // padding: .15rem;
        color: #0500ff;
      }
    }
  }
}

.fs-large {
  margin-left: .5rem;
  font-size: .75rem;
  font-weight: lighter;
  color: $color;
}

.emoji {
font-size: .75rem;
  font-weight: lighter;
  color: $color;
}

.no-outline {

  &:active,
  &:focus {
    outline: 0;
    outline-offset: 0;
  }

}

.m-120 {
  margin-top: 120px;
}


.filter-none {
//   filter: brightness(0) invert(0);
}

.filter-inverse {
    filter: brightness(0) invert(1);
}

.articles_list {


  &--item {


    img {
      border-radius: 8px;
      height: auto;
      margin-bottom: 24px;
      margin-right: $gutter;
    }

    &__body {
      // margin-right: $gutter;

      margin-bottom: $gutter * 2;

      &--title {
        // font-family: 'Khula book', sans-serif;
        font-weight: 600;
        color: $black;
        font-size: 1.125rem;

      }

      &--desc {

        white-space: initial;
        font-size: .95em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* number of lines to show */
        -webkit-box-orient: vertical;
        margin: $base-unit * 4 0 $base-unit;

      }

    }
  }
}


.hs-featured-image-wrapper {
  position: relative;

  .post-date-inner {
    // font-family: 'Ubuntu',sans-serif;
    position: absolute;
    top: 16px;
    z-index: 1;
    font-size: .875em;
    color: #fff;
    font-weight: 500;
    padding: 0px 16px;
  }

}

.post-item a.topics-link {
  background: #fc8918;
}

.post-item a.topics-link {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  background: #6ba7ed;
  padding: 2px 10px;
  letter-spacing: .25px;
  position: absolute;
  z-index: 10;
  bottom: 7px;
  left: 7px;
  font-weight: 400;
  line-height: 20px;
}

.post-recents-topic a:first-child,
.topics-list-bottom a:first-child {
  display: inline-block;
}

a.hs-featured-image-link {
  display: block;
}

.hs-featured-image-link {
  border: 0;
}


.hs-featured-image {
  float: none;
  margin: 0 0 20px 0;
  max-width: 100%;
  padding-right: 0;
  height: 180px;
  width: 100%;
  display: block;
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  border-radius: 6px;
}

.hs-featured-image:after {
  border-radius: 6px;
  content: "";
  // background: rgba(0,0,0,.125);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}


.logo {
    text-decoration: none;
}

.post__meta-tag {

  margin: $base-unit * 4 0 $base-unit * 2 0;

  a {
    // color: $black;
    display: inline-flex;
    font-size: .75em;
    padding: .25em .75em;
    background-color: $link-color-light;
    border-radius: 99em;
    text-decoration: none;
  }
}

.published-date {
//   font-family: 'Khula', sans-serif;
  color: var(--color-body);
  font-size: 1rem;
  margin-top: $base-unit * 4;
}

.post-author__text {
  h4 {
    margin-top: 0;
    font-weight: 600;
  }
}

strong {
  font-weight: 600;
}


.Post .heading-anchor {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $link-color;
  }

  &:active {
    color: $link-color;
  }

  &:visited {
    color: $black
  }
}

.mt-48 {
  margin-top: $base-unit * 28;
}

.j-end {
  justify-content: end;
}

.post--body {


  p {
    margin-bottom: $base-unit * 8;

    a {
      position: relative;
    }
  }
}

.PostBody .intro {
  height: auto;
}

.Image {
  figcaption {
    text-align: center;
  }
}

.mono {
  font-family: sf mono,monaco,inconsolata,fira mono,droid sans mono,source code pro,monospace;
  font-size: .875em;
}



#header {
  width:100vw;
  height:60px;
  line-height:60px;
  border-bottom:1px solid #ececec;
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  font-weight:400;
  z-index:10;
}

.header_wrap {
  display:flex;
  flex-shrink: 0;
  position: relative;
}

#logo {
    // position: absolute;
    // left: 0;
    // right: 0;
    // margin: auto;
    // top: 7px;
}

#logo * {
  fill: #282828;
}

#logo:hover * {
  animation-name:logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes logo {
  0% { fill: hsl(0,80%,70%); }
  25% { fill: hsl(90,80%,50%); }
  50% { fill: hsl(180,80%,50%); }
  75% { fill: hsl(270,80%, 50%); }
  100% { fill: hsl(0,80%,70%); }
}

#header a {
  font-size:14px;
  display:inline-block;
  height:60px;
  color:#282828;
  text-decoration:none;
  padding:0 14px;
  border-bottom:0;
  box-sizing:border-box;
  cursor: pointer;
}
#header a:not(.logo):hover {
  color:black;
  border-bottom:1px solid #b7b7b7;
}


.articles_list--item {

    &__link {
        a {
            font-weight: 400;
            color: $black;
        }
    }
}


.link-arrow {

    a {
        font-weight: 400;
        color: $black;
    }

    &--left {

    }

    &--right {

    }

}

.align-end {
    text-align: end;
}

.emoji--fix {
    margin-bottom: -2px;
}



