<footer class="footer sub-footer--container" role="contentinfo">
  <nav class="footer-nav mb-16" aria-label="Footer Navigation">
    <div class="mb-80">
      <div class="row-nm footer-nav__wrapper">
        <div class="col-lg-8 col-md-8 row-nm">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-32">
            <div class="footer-nav__list">
              <div active="false" class="footer-nav__list--header">General</div>
              <ul class="footer-nav__list--body">
                <li class="footer-nav__list--child">
                  <a class="" href="/" active="false">Home</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="/about" active="false">About</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="/articles" active="false">Articles</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="/notes" active="false">Notes</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="/contact" active="false">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-32">
            <div class="footer-nav__list">
              <div active="false" class="footer-nav__list--header">Work</div>
              <ul class="footer-nav__list--body">
                <li class="footer-nav__list--child">
                  <a class="" href="/things" active="false">Things I’ve made</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="/uses" active="false">Uses</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="/now" active="false">Now</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-32">
            <div class="footer-nav__list">
              <div active="false" class="footer-nav__list--header">Social</div>
              <ul class="footer-nav__list--body">
                <li class="footer-nav__list--child">
                  <a class="" href="{{ .Site.Author.twitter }}" target="_blank" rel="noopener noreferrer" active="false">Twitter</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="{{ .Site.Author.dribbble }}" target="_blank" rel="noopener noreferrer" active="false">Dribbble</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="{{ .Site.Author.linkedin }}" target="_blank" rel="noopener noreferrer" active="false">LinkedIn</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="{{ .Site.Author.github }}" target="_blank" rel="noopener noreferrer" active="false">Github</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="{{ .Site.Author.behance }}" target="_blank" rel="noopener noreferrer" active="false">Behance</a>
                </li>
                <li class="footer-nav__list--child">
                  <a class="" href="{{ .Site.Author.medium }}" target="_blank" rel="noopener noreferrer" active="false">Medium</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 scroll-up-wrapper" onclick="animateToTop(event)">
            <span class="elevate">
                <a class="scroll-up no-outline"></a>
            </span>
        </div>
      </div>
    </div>
    <section class="row-nm footer-copyright ">
      <div class="col-lg-4 col-md-12 footer-copyright__text">
        <p alt="&copy;{{ now.Format "2006"}} {{ .Site.Author.name }}">&copy;{{ now.Format "2006"}} {{ .Site.Author.name }}.</p>
      </div>
      <div class="col-lg-4 col-md-6  footer__quote">
        <p class="center align-center">
          Have a great day. 😘
        </p>
      </div>
      <p class="col-lg-4 col-md-6 footer-copyright__mail align-end">
        <a href="mailto:{{ .Site.Author.email }}" alt="Email {{ .Site.Author.name }} ({{ .Site.Author.email }})"
          >{{ .Site.Author.email }}</a
        >
      </p>
    </section>
  </nav>
</footer>
