<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "{{ with .Site.Author.name }}{{ . }}{{ end }}",
        "url": "{{ .Permalink }}",
        "inLanguage" : "{{ with .Site.LanguageCode }}{{ . }}{{ end }}",
        "keywords" : [{{ with .Site.Params.keywords }}"{{ . }}",{{ end }}],
        "image": "https://haydenbleasel.com/icons/icon-512x512.png",
        "sameAs": [
            "{{ .Site.Author.twitter }}",
            "{{ .Site.Author.dribbble }}",
            "{{ .Site.Author.linkedin }}",
            "{{ .Site.Author.github }}",
            "{{ .Site.Author.behance }}",
            "{{ .Site.Author.medium }}"
        ],
        "jobTitle": "{{ with .Site.Author.jobTitle }}{{ . }}{{ end }}",
        "worksFor": {
            "@type": "Organization",
            "name": "{{ with .Site.Author.worksFor }}{{ . }}{{ end }}"
        }
    }
</script>

<!-- {{ partial "seo_schema" . }} -->
