<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "{{ with .Site.Author.name }}{{ . }}{{ end }}",
    "url": "https://murshidazher.com/",
    "inLanguage" : "{{ with .Site.LanguageCode }}{{ . }}{{ end }}",
    "image": "https://murshidazher.com/img/icon-512x512.png",
    "sameAs": [
      "https://twitter.com/murshidazher",
      "https://linkedin.com/in/murshidazher",
      "https://dribbble.com/murshidazher",
      "https://www.instagram.com/murshidazher",
      "https://www.behance.net/murshidazher}",
      "https://github.com/murshidazher"
    ],
    "jobTitle": "{{ with .Site.Params.jobTitle }}{{ . }}{{ end }}",
    "worksFor": {
      "@type": "Organization",
      "name": "{{ with .Site.Params.worksFor }}{{ . }}{{ end }}"
    }
  }
</script>
