<!-- Post Author. -->
<div class="post-author">
  <img alt="Murshid Azher" class="avatar avatar--round avatar--m u-photo" src="{{ .Site.BaseURL }}img/ma-default.jpg">
  <div class="post-author__text">
    <h4>Did you enjoy this?</h4>
    <p>Follow me to get notifications &darr;</p>
  </div>
</div>

<!-- Microformat2 data -->
<div hidden>
  <a class="u-url" href="{{ .Permalink }}">{{ .Title }}</a>
  <p class="h-card p-author">
    <a class="p-name u-url" href="{{ $.Site.BaseURL }}" rel="author">Murshid Azher</a>
    <img alt="Murshid Azher" class="u-photo" src="https://murshidazher.com/img/ma-default.jpg">
  </p>
</div>
