<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ $style := resources.Get "scss/main.scss" }}
  {{ $components := readDir "assets/scss/components" }}
  {{ range $components }}
    {{ $component := resources.Get (printf "scss/components/%s" .Name) }}
    {{ $style = slice $style $component | resources.Concat .Name }}
  {{ end }}
  {{ $style = slice $style | resources.Concat "all.css" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <title>{{ .Site.Title }}</title>
</head>
