{{ define "main" }}
<article id="content" class="Post">
  <header id="{{ .Slug }}" class="row-nm m-32 center intro-sm">
    <div class="column center w-full">
      <h1 class="center align-center">{{ .Title }}
        {{ if .Params.emoji }}
        {{ $alias := .Params.emoji }}
        {{ range first 1 (where .Site.Data.emoji.ios13 "alias" "eq" $alias) }}
            <!-- (where .Site.Data.petiteannonce "cityName" "eq" .Params.name) -->
            <span class="fs-large">
                <img width="32" height="32" class="emoji--fix" title="{{ .title }}" src="{{ .link }}"/>
            </span>
        {{ end }}
        {{ end }}
      </h1>
    </div>
  </header>
  <section class="row-nm align-center j-center">
    <div class="column-nm-sm w-full mx-60 ">
      <h2 class="font-circular-book center">{{ .Params.description }}</h2>
    </div>
  </section>
  <section class="PostBody m-120 mb-80 post--body">
    <div class="center-max">
      {{ .Content }}
    </div>
  </section>
</article>
<!--/.Content -->
{{ end }}
